.action-card{
  .row-container{
    display: flex;
    flex-direction: row;
    font-size: 16px;

    .left-half{
      flex: 0 0 auto;
      text-align: right;
      margin-left: 10px;
    }
    .right-half{
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      .v-select /deep/ .dropdown-toggle{
        width: 300px;
      }
      .v-select.narrow-select /deep/ .dropdown-toggle{
          width: 160px;
      }
    }
  }

  .webhook-row-container{
    .left-half{
      width: 160px;
    }
    .select-method-label{
      margin-left: 160px;
      min-width: 65px;
    }
    .select-method{
      margin-left: 10px;
    }
    .input-url{
      flex: 1 1 auto;
    }
    .input-body{
      flex: 1 1 auto;
      height: 80px;
    }
  }

  .msg-row-container{
    .left-half{
      width: auto;
    }
    .input-msg{
      flex: 1 1 auto;
      height: 50px;
    }
  }

  .goto-row-container{
    .right-half{
      button{
        width: 110px;
      }
    }
  }

  .input-label{
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  input{
    padding-left: 10px;
    width: 160px;
    height: 30px;
    color: black;
    font-size: 16px;
  }
  select{
    width: 160px;
    height: 30px;
  }
}
