$bullet-point-color: #9b9b9b;
#scenario_edit_page{
  height:100%;
  .content {
    display: flex;
    flex-direction: column;
    .row {
      flex: 0 0 auto;
      padding-left: 20px;
      &.title {
        @include font-16px();
        color: $color-font-active;
        flex: 0 0 60px;
        border-bottom: 1px solid $color-borderline;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        .breadcrumb{
          display: flex;
          align-items: center;
          .back-to-list{
            cursor: pointer;
            margin-right: 10px;
          }
          input{
            @include font-16px();
            margin-left: 10px;
            border: none;
          }
        }
      }
      &:not(.title) {
        margin-top: 20px;
      }
    }

    .main-content {
      display: flex;
      flex-direction: row;
      .sidebar{
        width: 150px;
        border-right: 1px solid $color-borderline;
        margin: 20px;

        .list-ic li {
          position: relative;
        }
        .list-ic li .title {
          @include font-16px();
          margin-left: 10px;
          cursor: pointer;
        }
        .list-ic li .order { // order number
          display: inline-block;
          font-weight: 800;
          width: 2em;
          height: 2em;
          text-align: center;
          line-height: 2em;
          border-radius: 1em;
          background: $bullet-point-color;
          color: white;
          position: relative;
          z-index: 1;
        }
        .list-ic li.active .order{
          background: $color-primary;
        }
        .list-ic li.active .title{
          color: $color-primary;
        }
        .list-ic li::before {
          content: '';
          position: absolute;
          background: $bullet-point-color;
        }
        .list-ic.vertical {
          padding: 0;
          margin: 0;
        }
        .list-ic.vertical li {
          list-style-type: none;
          text-align: left;
        }
        .list-ic.vertical li .order {
          margin: 1.4em 0;
        }
        .list-ic.vertical li::before { // vertical line
          top: -25px;
          left: 11px;
          width: 0.2em;
          height: 4em;
        }
        .list-ic li:first-child::before {
          display: none;
        }
      }
    }
  }
}
