#scenario_edit_page{
  flex:1 1 0;
  display: flex;
  flex-direction: column;

  .te-page-header {
    flex:4 4 0;
    display: flex;
    flex-direction: column;
    background: $bar-color;
    color: $text-color;

    .scenario-name{
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 30px;
      color: $text-hightlight-color;
      .arrow{
        margin-left: 10px;
      }
      input{
        padding: 10px;
        color: $text-hightlight-color;
        background: $bar-color;
        border: none;
        height: 50px;
        font-size: 30px;
      }
      .v-select /deep/ .dropdown-toggle{
        width: 200px;
        border: none;
        background: $bar-color;
      }
      .v-select /deep/ .selected-tag{
        color: $text-hightlight-color;
      }
    }

    .multi-window-radio{
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      input {
        display: none;
        & + div {
          height: $row-height;
          label {
            line-height: $row-height;
            color: $text-color;
            cursor: pointer;
            user-select: none;
            &:hover {
              color: $text-hightlight-color;
            }
          }
          &:hover {
            background: $button-hover-background-color;
          }
        }

        &:disabled:not(:checked) + div {
          label {
            cursor: not-allowed;
            &:hover {
              color: $text-color;
            }
          }
        }

        &:checked + div {
          background: $window-color;
          label {
            color: $text-hightlight-color
          }
        }
      }
    }
  }

  .page-footer {
    background: $bar-color;
    color: $text-color;
    flex:3 3 0;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    align-items: center;
    justify-content: flex-end;
    .primary{
      width: 150px;
    }
  }

  .multi-window-container {
    background: $window-color;
    color: $text-color;
    flex:24 24 0;
    display: flex;
    flex-direction: column;
  }
}
