body{
	font-size: 40px;
	background: #fff;
}
.wrap{
	padding: 0 0.625rem;
	background: #fff;
}
h1{
	font-size: 1.0rem;
	text-align: center;
	color: #000;
	padding: 1.5rem 0 0rem;
}
.nav{
	height: 2.0rem;
	background: #e0f4f7;
	width: 100%;
	padding: 0 0.625rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 1rem;
}
.nav li{
	float: left;
	width: 25%;
	height: 2.0rem;
	padding: 0 0.325rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.nav li a{
	width: 100%;
	height: 2.0rem;
	display: block;
	text-align: center;
	line-height: 2.0rem;
	font-size: 0.75rem;
	color: #000;
}
.nav li.current a{
	border-bottom: 2px solid #32adc2;
}
.detail>li{
	width: 100%;
	margin: 0 auto;
	display: none;
}
.wrap p{
	font-size: 0.8rem;
	height: 1.5rem;
	text-align: center;
}
.wrap p.priceup{
	color: #fd0c0c;
}
.wrap p.pricedown{
	color: #309930;
}
.wrap p em{
	font-size: 0.7rem;
	font-weight: normal;
	height: 100%;
	line-height: 2rem;
}
.wrap p span{
	margin-right: 1rem;
	position: relative;
}
.wrap p.priceup span:after,.wrap p.pricedown span:after{
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	top: 0.12rem;
	right: -0.75rem;
	position: absolute;
}
.wrap p.priceup span:after{
	background: url(../images/top.png) no-repeat center center;
	background-size: 0.55rem 0.75rem;
}
.wrap p.pricedown span:after{
	background: url(../images/down.png) no-repeat center center;
	background-size: 0.55rem 0.75rem;
}
.wrap b{
	font-size: 0.6rem;
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 0.5rem;
	font-weight: normal;
}
.result1{
	width: 100%;
	height: 10rem;
	margin: 0 auto;
	overflow-y: hidden;
}
.result1 img{
	width: 100%;
	height: 10rem;
}
.result2{
	width: 100%;
	height: 6.5rem;
	border: 1px solid #c9caca;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 1.0rem;
	border-bottom: none;
	border-right: none;
	margin-bottom: 2rem;
}
.result2 li{
	width: 33.333%;
	height: 50%;
	border-right: 1px solid #c9caca;
	border-bottom: 1px solid #c9caca;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-size: 0.75rem;
	padding-top: 0.5rem;
}
.result2 li span{
	font-size: 0.7rem;
}
span.tpriceup,span.highpriceup,span.lowpriceup{
	color:#fd0c0c;
}
span.tpriceequal,span.highpriceequal,span.lowpriceequal{
	color: #000;
}
span.tpricedown,span.highpricedown,span.lowpricedown{
	color: #309930;
}








