html {
  padding: 50px 20px;
  font-family: PingFangHK-Regular, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.div-block {
  background-color: #eeeeee;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px;
}