.action-group{
  position: relative;
  display: flex;
  flex-direction: column;
  background: $item-color-grey;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;

  .delete-action-group-button{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
    color: grey;
    &:hover {
      color: black;
    }
  }

  .margin-top-bottom{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .title{
    color: $text-hightlight-color;
    font-size: 16px;
  }
  .button-add-new-condition{
    color: $text-clickable-color;
    background: $button-green;
    border:1px dashed $text-color;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      background: $button-hover-background-color;
    }
  }

  .action-list-container{
    display: flex;
    flex-direction: column;
  }
  .condition-list-container{
    .condition-card-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      .condition-card{
        flex: 1 1 auto;
      }
      .button-block{
        flex: 0 0 auto;
        height: 40px;
        width: 40px;
        margin: 10px;
      }
      .button-box-add-new-condition{
        color: $text-clickable-color;
        border: 2px solid $text-clickable-color;
        box-sizing: border-box;
        text-align: center;
        a {
          line-height: 40px;
          font-size: 30px;
        }
        cursor: pointer;
        &:hover{
          background: $button-hover-background-color;
        }
      }
    }
  }
}