$input-with-menu-height: 30px;
$item-selected: #cccccc;
$item-hover: #f0f0f0;

#condition-card{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60px;
  align-items:center;
  border: 1px dashed grey;
  margin-top: 5px;
  margin-bottom: 5px;
  
  input{
    padding-left: 10px;
    width: 200px;
    height: $input-with-menu-height;
    color: black;
    font-size: 16px;
  }
  .column-label{
    color: $text-color;
  }
  .item{
    color: $text-hightlight-color;
    &:hover {
      background: $item-hover;
    }
  }
  .active-item {
    background: $item-selected;
  }
  .delete-condition-button{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
    color: grey;
    &:hover {
      color: black;
    }
  }
  .condition-text{
    margin-left: 50px;
    font-size: 16px;
    width: 32px;
  }

  .condition-input-with-menu {
    display:inline-flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;

    .condition-input-menu-container {
      display:flex;
      flex-direction: column;
      position: absolute;
      background: white;
      border: 1px solid lightgrey;
      top: $input-with-menu-height;
      width: 300px;
      z-index: 100;

      .condition-input-menu-table {
        display:flex;
        flex-direction: row;

        .condition-input-menu-column {
          width: 150px;
          padding: 10px;
          box-sizing: border-box;
        }
        .entity-column {
          flex: 1 1 auto;
        }
        .context-column {
          flex: 1 1 auto;
        }
      }
    }
  }
  .condition-select-with-menu {
    display:inline-flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;

    input {
      width: 100px;
    }
    .condition-select-menu {
      display:flex;
      flex-direction: column;
      position: absolute;
      background: white;
      border: 1px solid lightgrey;
      width: 100px;
      padding: 10px;
      box-sizing: border-box;
      z-index: 100;
    }
  }
  .content-input{
    display:inline-flex;
    flex-direction: column;
    margin-left: 10px;
    input {
      width: 200px;
    }
  }
}
