@import './variable';
html, body {
  overflow: hidden;
  font-size: $app-dft-font-size;
  // line-height: 1.2em;
}

input {
  @include font-12px();
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 8px;
  border: solid 1px $color-borderline;
  border-radius: 2px;
  &::placeholder {
    color: $color-font-disabled;
  }
  &[type=text] {
    width: 160px;
  } 
  &:hover {
    border-color: $color-borderline-hover;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(75, 75, 100, 0.2);
    border-color: $color-borderline-hover;
  }
}

.icon-input {
  box-sizing: border-box;
  width: 160px;
  border: solid 1px $color-borderline;
  border-radius: 2px;
  background: white;
  display: flex;
  align-items: center;
  &:hover {
    border-color: $color-borderline-hover;
  }
  &:focus-within {  /** do not support IE **/
    outline: none;
    box-shadow: 0 0 0 2px rgba(75, 75, 100, 0.2);
    border-color: $color-borderline-hover;
  }

  input {
    flex: 1 1 auto;
    min-width: 0px;
    padding: 5px 8px;
    border: 0px;
    background: white;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .input-icon {
    flex: 0 0 auto;
    padding: 8px 8px;
  }
}

#app {
  font-family: $app-dft-font-family, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  & > div.blur {
    filter: blur(5px);
  }
}

#app-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: $page-menu-width;
  height: $page-header-height;
  background: $page-menu-color url("./assets/images/logo.png") no-repeat center center;
  background-size: 60px 32px;
}

#app-page {
  position: absolute;
  left: $page-menu-width;
  top: $page-header-height;
  width: calc(100vw - #{$page-menu-width});
  height: calc(100vh - #{$page-header-height});
  background: $page-base;
  box-sizing: border-box;
  overflow: hidden;
  // & > .app-header {
  //   height: $default-line-height;
  //   line-height: $default-line-height;
  //   padding-left: 10px;
  // }
  &.iframe {
    padding: 0px;
  }
  & > .app-body {
    padding: 0 20px;
    &:not(.iframe) {
      .card {
        @include auto-overflow();
      }
    }
    &.multi-card {
      @include auto-overflow();
    }
    .card {
      margin-top: 20px;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(102,102,102, 0.08);

      &.h-fill {
        height: calc(100% - 40px);
      }
      &.h-half {
        height: calc(50% - 10px);
        &.last {
          margin-bottom: 20px;
        }
      }
      &.h-auto {
        height: auto;
      }
      &.w-fill {
        width: 100%;
      }
      &.w-half {
        width: calc(50% - 10px);
        margin-left: 20px;
        &.first {
          margin-left: 0;
        }
      }
      &.w-auto {
        width: auto;
      }
    }
    // background: white;
    // border-radius: 5px;
    // box-shadow: 0px 0px 5px rgba(102,102,102, 0.08);
    height: 100%;
    &.iframe {
      padding: 0px;
      height: 100%;
      overflow: hidden;
    }
  }
}

#page-header {
  position: absolute;
  left: $page-menu-width;
  top: 0;
  width: calc(100vw - #{$page-menu-width});
  height: 50px;
  background: $page-header-color;
  box-shadow: inset -1px 0 0 0 #222222;
  color: white;
  text-align: right;
  font-weight: bold;

  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  & > .spliter {
    display: inline-block;
    height: $page-header-height;
    border-left: 1px solid black;
  }
}


.float-menu {
  z-index: 10;
  visibility: hidden;
  position: absolute;
  &.show {
    visibility: visible;
  }
}

// .icon {
//   display: inline-block;
//   position: relative;
//   text-align: center;
//   width: $default-line-height;
//   height: $default-line-height;
//   flex: 0 0 30px;

//   &.button {
//     cursor: pointer;
//   }

//   .triangle {
//     display: block;
//     border-color: white transparent transparent transparent;
//     border-style: solid;
//     border-width: 0.5em 0.5em 0px 0.5em;
//     height: 0px;
//     width: 0px;
//     position: relative;
//     top: calc(50% - 0.25em);
//     left: calc(50% - 0.25em);
//   }
//   .enterprise_icon {
//     background: url("./assets/images/enterprise.png") no-repeat center center;
//     background-size: 40px 40px;
//     width: 100%;
//     height: 100%;
//   }
//   &:hover {
//     .tooltip {
//       visibility: visible;
//     }
//   }
//   .tooltip {
//     visibility: hidden;
//     position: absolute;
//     background: $tool-tip-background;
//     color: $tool-tip-text;
//     padding: 5px;
//     border-radius: $input-border-radius;
//     top: calc(-100% + 5px);
//     left: -5px;
//     user-select: none;
//     white-space: nowrap;
//     &::after {
//       content: "";
//       position: absolute;
//       top: 100%;
//       left: 50%;
//       margin-left: -5px;
//       border-width: 5px;
//       border-style: solid;
//       border-color: $tool-tip-background transparent transparent transparent;
//     }
//   }
//   @mixin iconType($name) {
//     .#{$name}_icon {
//       background: url("./assets/icons/#{$name}_icon.svg") no-repeat center center;
//       // background: url("./icons/#{$name}_icon.svg") no-repeat center center;
//       background-size: 20px 20px;
//       width: 100%;
//       height: 100%;
//     }
//     &.button {
//       .#{$name}Icon:active {
//         margin-left: 1px;
//         margin-top: 1px;
//       }
//     }
//   }
//   @include iconType("white_robot");

//   // robot icon should a little bit larger than other icons
//   .white_robot_icon {
//     background-size: 25px 25px;
//   }
// }