$default-line-height: 30px;
$line-element-between-width: 5px;

$area-border-color: #D9D9D9;
$active-color: #2b85e4;
$deactive-color: #AAAAAA;

$break-small: 1024px;

$page-header-height: 50px;
$page-header-color: #444444;

$page-menu-width:200px;
$page-menu-color: #333;
$page-menu-category-height: 50px;
$page-menu-item-height: 30px;
$page-menu-category-padding: 20px;

$page-base: #F8F8F8;

$chart-bg: white;

$table-header-background: #EEEEEE;
$table-body-background: white;
$table-body-hover-background: #F9F9F9;
$table-border-color: #EEEEEE;
$table-row-height: 50px;

$button-blue-bg: #1875F0;
$button-blue-text: white;
$button-blue-hover: #3D80FF;
$button-blue-active-text: #2b85e4;

$input-border-radius: 4px;
$input-border-color: #D9D9D9;

$tool-tip-background: black;
$tool-tip-text: white;

$notification-background: #5cd29d;
$notification-fail-background: #fa7a7a;
$notification-border-radius: 4px;
$notification-width: 300px;

$tag-background-color: #444444;
$tag-font-color: white;

$error-color: #fa7a7a;
$success-color: #5cd29d;

@mixin auto-overflow() {
    // overflow is for IE
    overflow: auto;
    // other browser support overlay will use overlay
    overflow: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin click-button() {
    cursor: pointer;
    user-select: none;
}

@mixin general-input {
    border: 1px solid black;
    padding: 10px;
    &.error {
      border: 1px solid $error-color;
    }
    margin-left: 10px;
}

@mixin general-select {
    padding: 10px;
    width: 150px;
    height: 30px;
    margin-left: 10px;
    &.error {
      border: 1px solid $error-color;
    }
}