$app-dft-font-size: 12px;
$app-dft-font-family: PingFangHK-Regular;
$app-active-color: #1875F0;
$page-base: #EEEEEE;
$page-menu-color: #333;

$general-input-radius: 4px;
$general-input-dft-border: #D9D9D9;


$default-line-height: 30px;
$line-element-between-width: 5px;

$area-border-color: #D9D9D9;
$deactive-color: #AAAAAA;
$active-color: #1875F0;
$break-small: 1024px;

$page-header-height: 50px;
$page-header-color: #444444;

$page-menu-width:150px;
$page-menu-category-height: 50px;
$page-menu-item-height: 30px;
$page-menu-category-padding: 20px;


$chart-bg: white;

$table-header-background: #EEEEEE;
$table-body-background: white;
$table-body-hover-background: #F9F9F9;
$table-border-color: #EEEEEE;
$table-row-height: 50px;

$button-blue-bg: #1875F0;
$button-blue-text: white;
$button-blue-hover: #3D80FF;
$button-blue-active-text: #2b85e4;

$input-border-radius: 4px;
$input-border-color: #D9D9D9;

$tool-tip-background: black;
$tool-tip-text: white;

$notification-background: #5cd29d;
$notification-fail-background: #fa7a7a;
$notification-border-radius: 4px;
$notification-width: 300px;

$tag-background-color: #444444;
$tag-font-color: white;

$error-color: #fa7a7a;
$success-color: #5cd29d;

@mixin auto-overflow() {
  // overflow is for IE
  overflow: auto;
  // other browser support overlay will use overlay
  overflow: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin click-button() {
  cursor: pointer;
  user-select: none;
}

@mixin general-input {
  background: white;
  border-radius: $general-input-radius;
  border: 1px solid $general-input-dft-border;
  padding: 5px 8px;

  &.error {
    border: 1px solid $error-color;
  }
  &.focus {
    outline: none;
  }
}

@mixin general-select {
  background: white;
  display: block;
  border-radius: $general-input-radius;
  border: 1px solid $general-input-dft-border;
  padding: 5px 8px;
  appearance: none;
  &.error {
    border: 1px solid $error-color;
  }
  &.focus {
    outline: none;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid black;
    position: absolute;
    top: 16px;
    left: 10px;
  }
}

@mixin general-textarea {
  word-break: break-all;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  resize: none;
  height: 6em;
  &.error {
    border: 1px solid $error-color;
  }
  margin-left: 10px;
}

@mixin flex-row {
  flex: 0 0 auto;
  min-height: $table-row-height;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin err-msg {
  color: $error-color;
  font-weight: bold;
}

@mixin popForm($name-width) {
  .block {
    margin-top: 10px;
  }
  .spliter {
    margin-top: 20px;
    border-bottom: 1px solid $area-border-color;
  }
  .row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-height: 40px;
    & > .err-msg {
      @include err-msg();
      margin-left: 10px;
    }
  }
  input {
    @include general-input();
  }
  select {
    @include general-select();
  }
  textarea {
    @include general-textarea();
  }
  .row-name {
    width: $name-width;
  }
  .row-val {
    margin-left: 10px;
  }
  & > .err-msg {
    @include err-msg();
    margin-top: 10px;
    margin-left: calc(#{$name-width} + 10px);
  }
}