$page-header-height: 50px;
$page-header-color: #444444;

$page-menu-width:150px;
$page-menu-color: #333;
$page-menu-category-height: 50px;
$page-menu-item-height: 30px;

$page-base: #F8F8F8;

$default-line-height: 30px;
$line-element-between-width: 5px;

$table-header-background: #EEEEEE;
$table-body-background: white;
$table-body-hover-background: #F9F9F9;
$table-border-color: #EEEEEE;
$table-row-height: 50px;

$button-blue-bg: #1875F0;
$button-blue-text: white;
$button-blue-hover: #3D80FF;
$button-blue-active-text: #2b85e4;

$input-border-radius: 4px;
$input-border-color: #D9D9D9;

$tool-tip-background: black;
$tool-tip-text: white;